<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" />
    <title>ExpenseZen</title>
    <script defer src="/js/navScript.js"></script>
  </head>

  <body class="light">
    <nav class="navbar">
      <ul class="navbar-nav">

        <!-- <li class="nav-item expand-item ">
          <div class="nav-button expand-button">
            <div class = "nav-link">
              <i class='bx bx-menu'></i>

              <span class="link-text">Expand</span>
            </div>
          </div>
        </li>
        <hr> -->

        <li class="nav-item nav-item-small">
          <div class="expand-button toggle-icon">
            <i class='bx bx-menu'></i>
            <span class="link-text">Expand</span>
          </div>
        </li>
        <hr>

        <li class="nav-item">
          <div class="nav-button">
            <a href="/dashboard" class="nav-link">
              <i class="bx bx-line-chart"></i>
              <span class="link-text">Dashboard</span>
            </a>  
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-button">
            <a href="/transactions" class="nav-link">
                <i class="bx bx-transfer-alt icon"></i>
                <span class="link-text">Transactions</span>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-button">
            <a href="/budgets" class="nav-link">
                <i class="bx bx-wallet icon"></i>
                <span class="link-text">Budgets</span>
            </a>
          </div>
        </li>

        <li class="nav-item">
        <!-- nav-item-small"> -->
          <div class="nav-toggle toggle-icon">
            <i class="bx bx-moon dark-mode-icon"></i>
            <i class="bx bx-sun light-mode-icon"></i>
            <span class="link-text">Modo</span>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-button">
            <a href="/help" class="nav-link">
                <i class="bx bx-help-circle icon"></i>
                <span class="link-text">Help</span>
            </a>
          </div>
        </li>

        <li class="nav-item">
          <div class="nav-button">
            <a href="/users/logout" class="nav-link">
              <i class="bx bx-exit icon"></i>
              <span class="link-text">Logout</span>
            </a>
          </div>
        </li>

      </ul>
    </nav>

    <div class="main-content">